@import "tailwindcss";
@import "@fontsource-variable/montserrat";

@font-face {
  font-family: "Lupio Black";
  src: url("/public/fonts/Lupio-Black.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* :root {  
  --color-primary: #2e4f3e;
  --color-secondary: #a0ae86;

  --color-bg-light: #f3f5eb;
  --color-text: #7c8a6c;
  --color-highlight: #cddc9e;
  --color-contrast: #ffffff;
  
  --font-primary: "Montserrat variable", sans-serif;
  --font-secondary: "Lupio Black", sans-serif;
} */

:root {
  /* Colores principales */
  --color-primary: #2e4f3e; /* Verde oscuro institucional */
  --color-secondary: #a0ae86; /* Verde oliva claro para acentos */

  /* Colores neutros */
  --color-bg-light: #f3f5eb; /* Fondo claro general */
  --color-text: #4a5643; /* Texto verde neutro */
  --color-highlight: #c7b39c; /* Marrón claro/beige para acento */
  --color-contrast: #ffffff; /* Contraste fuerte: texto sobre fondo oscuro */

  /* Tipografía */
  --font-primary: "Montserrat Variable", sans-serif;
  --font-secondary: "Lupio Black", sans-serif;
}

body {
  margin: 0;
  padding-left: 0;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
  font-family: var(--font-primary);
  background-color: var(--color-primary);
  color: var(--color-text);
  line-height: 1.6;
}

section .primary {
  background-color: var(--color-bg-primary);
}

section.secondary {
  background-color: var(--color-bg-light);
}

.section-content {
  padding: 24px 0px 24px 32px;
}

h1 {
  color: white;
  margin: 0;
  font-family: var(--font-secondary);
}

h2 {
  margin: 0;
  font-family: var(--font-secondary);
}

h3 {
  margin: 0;
  font-family: var(--font-secondary);
}

.section-title-primary {
  color: var(--color-contrast);
}

.section-title-secondary {
  color: var(--color-primary);
}

h4 {
  color: var(--color-text);
  margin: 0;
  font-family: var(--font-secondary);
}

p {
  color: var(--color-text);
  font-family: var(--font-primary);
}

.lugar-text-bg {
  background-color: var(--color-bg-light);
}

a {
  color: var(--color-secondary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-primary);
}

.header-wrapper {
  max-width: 1200px;
  margin: auto;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

button {
  background-color: var(--color-secondary);
  color: black;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: var(--color-highlight);
}

header,
footer {
  background-color: var(--color-primary);
  color: var(--color-contrast);
}

header a,
footer a {
  color: var(--color-contrast);
  font-weight: 600;
}

header a:hover,
footer a:hover {
  color: var(--color-highlight);
}

.montserrat {
  font-family: var(--font-primary);
}
