---

---

<section id="clases-key" class="section-bg-secondary m-auto px-4">
  <div class="container m-auto py-8 md:py-10 lg:py-12 xl:py-16">
    <div
      class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-extrabold leading-none space-y-0 section-title-primary"
    >
      <h2 class="m-0 section-title-secondary">CLASES</h2>
    </div>
  </div>
</section>
