---

---

<section id="clases-key" class="section-bg-secondary m-auto px-4">
  <div class="container m-auto py-10">
    <div
      class="text-6xl sm:text-7xl lg:text-9xl font-extrabold leading-none space-y-0 section-title-primary"
    >
      <h2 class="m-0 section-title-secondary">CLASES</h2>
    </div>
  </div>
</section>
