<footer class="section-bg-primary w-full px-4">
  <div class="container mx-auto py-10">
    <div class="flex flex-col lg:flex-row items-start gap-6">
      <!-- Títulos -->
      <div class="section-title-primary flex-1">
        <h2 class="text-2xl">SPONSORS</h2>
        <p class="section-title-primary text-lg">
          ¿Quiénes confían en nosotros?
        </p>
      </div>
      <div class="section-title-primary flex-1">
        <h2 class="text-2xl">PARTNERSHIPS</h2>
        <p class="section-title-primary text-lg">
          Marcas con las que trabajamos juntos
        </p>
        <div class="mt-10 flex flex-wrap items-center gap-6">
          <img
            src="/brands/coca-cola.svg"
            alt="Coca Cola"
            class="h-16 object-contain"
          />
          <img
            src="/brands/prince.jpg"
            alt="Prince"
            class="h-16 object-contain"
          />
          <img
            src="/brands/quento.png"
            alt="Quento"
            class="h-16 object-contain"
          />
        </div>
      </div>
    </div>
    <hr class="h-px my-8 bg-[#a0ae86] border-0" />
  </div>
</footer>
