---
import ArrowRight from "../components/icons/ArrowRight.astro";
import PadelBall from "../components/icons/PadelBall.astro";
import Fijo from "../components/icons/Fijo.astro";
---

<section id="hero-key" class="relative h-[100svh] overflow-hidden">
  <div
    class="h-full w-full bg-[url('/hero2.png')] bg-cover bg-center relative z-0 md:pb-10 pb-10"
  >
    <div
      id="shadow-overlay"
      class="absolute inset-0 pointer-events-none z-10"
      style="
        --black-opacity: 0;
        background: linear-gradient(-90deg, rgba(0, 0, 0, var(--black-opacity)) 75%, rgba(0, 0, 0, 1) 100%);
      "
    >
    </div>

    <div class="h-full w-full flex items-end relative z-20">
      <div class="px-4 md:px-8 container mx-auto">
        <div class="z-30 relative tracking-tight py-5">
          <h1 class="text-7xl sm:text-7xl lg:text-9xl section-title-primary">
            JUGAR
          </h1>
          <h1 class="text-7xl sm:text-7xl lg:text-9xl section-title-primary">
            AL PADEL
          </h1>
          <span
            class="text-4xl sm:text-4xl lg:text-7xl font-black opacity-0 text-gray-400"
            id="bajo-la-sombra-text"
          >
            BAJO LA SOMBRA
          </span>
        </div>
        <div id="bajo-la-sombra-ctas" class="opacity-0">
          <div class="flex flex-col sm:flex-row gap-4 md:pt-6">
            <button
              class="cta-button cta-primary w-full sm:w-auto md:inline-flex"
            >
              <span> Pedí tu turno </span>
              <PadelBall class="size-6 hidden md:block" />
            </button>
            <button
              class="cta-button cta-secondary with-bg w-full sm:w-auto md:inline-flex"
            >
              <span> Pedí tu fijo </span>
              <Fijo class="size-6 hidden md:block" />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";

  // Al cargar el DOM
  window.addEventListener("DOMContentLoaded", () => {
    const tl = gsap.timeline();

    // Paso 1: aumentar la opacidad del overlay
    tl.to(
      {},
      {
        duration: 1,
        ease: "none",
        onUpdate: () => {
          const progress = tl.progress();
          document
            .getElementById("shadow-overlay")!
            .style.setProperty("--black-opacity", (0.7 * progress).toFixed(2));
        },
      }
    );

    // Paso 2: mostrar el texto "BAJO LA SOMBRA"
    tl.to("#bajo-la-sombra-text", {
      autoAlpha: 1,
      duration: 0.5,
      ease: "power2.out",
    });
    tl.to("#bajo-la-sombra-ctas", {
      autoAlpha: 1,
      duration: 0.5,
      ease: "power2.out",
    });
  });
</script>
