---

---

<section class="secondary px-4" id="lugar-key">
  <div class="py-10 m-auto container">
    <div
      class="text-6xl sm:text-7xl lg:text-9xl font-black leading-none space-y-0 section-title-secondary tracking-tight section-title pb-10"
    >
      <div class="m-0 leading-none section-title-secondary">
        <h1>EL</h1>
        <h1>LUGAR</h1>
      </div>
    </div>

    <div class="wrapper flex flex-col lg:flex-row gap-6">
      <div class="flex-1">
        <img
          src="/lugar-1.jpg"
          alt="Padel 1"
          class="w-full h-64 sm:h-80 lg:h-full object-cover"
        />
        <div class="flex flex-col justify-center lugar-text-bg p-4">
          <h4 class="text-2xl sm:text-3xl lg:text-4xl font-normal">
            Ubicación
          </h4>
          <p class="mt-4 text-base sm:text-lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  ScrollTrigger.batch(".el-lugar-item", {
    interval: 0.2, // tiempo entre cada lote
    batchMax: 3, // máximo de elementos por lote
    onEnter: (batch) =>
      gsap.to(batch, {
        opacity: 1,
        y: 0,
        scale: 1,
        duration: 0.8,
        stagger: 0.2,
        ease: "power2.out",
      }),
    once: true, // solo se anima una vez
  });
</script>
