---

---

<section class="secondary px-4" id="lugar-key">
  <div class="py-8 md:py-10 lg:py-12 xl:py-16 m-auto container">
    <div
      class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl font-black leading-none space-y-0 section-title-secondary tracking-tight section-title pb-10"
    >
      <div class="m-0 leading-none section-title-secondary">
        <h2>EL LUGAR</h2>
      </div>
    </div>

    <div class="wrapper flex flex-col md:flex-row gap-4 md:gap-6 lg:gap-8">
      <div class="flex-1">
        <img
          src="/lugar-1.jpg"
          alt="Cancha de padel bajo techo en Sombra Padel con iluminación LED"
          class="w-full h-64 sm:h-80 md:h-96 lg:h-full object-cover"
        />
        <div class="flex flex-col justify-center lugar-text-bg p-4 md:p-6 lg:p-8">
          <h3 class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-normal">
            Ubicación
          </h3>
          <p class="mt-4 text-base sm:text-lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit...
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  ScrollTrigger.batch(".el-lugar-item", {
    interval: 0.2, // tiempo entre cada lote
    batchMax: 3, // máximo de elementos por lote
    onEnter: (batch) =>
      gsap.to(batch, {
        opacity: 1,
        y: 0,
        scale: 1,
        duration: 0.8,
        stagger: 0.2,
        ease: "power2.out",
      }),
    once: true, // solo se anima una vez
  });
</script>
