---

---

<section class="min-h-screen secondary" id="lugar-key">
  <div class="section-content">
    <div
      class="text-9xl font-extrabold leading-none space-y-0 section-title-secondary"
    >
      <h3 class="m-0">EL</h3>
      <h3 class="m-0">LUGAR</h3>
    </div>
    <!-- <div class="wrapper flex justify-center items-center">
      <div
        class="grid grid-cols-[1fr_2fr] items-stretch el-lugar-item opacity-0 translate-y-10"
      >
        <di v class="flex flex-col justify-center lugar-text-bg ml-[8px] px-4">
          <p class="mt-4 text-lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
            ducimus quo in quod hic itaque sapiente cupiditate laboriosam cum
            voluptas veritatis enim deleniti, unde veniam sit excepturi quaerat
            dignissimos totam.
          </p>
        </di>
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2933.310765810147!2d-64.22450667835707!3d-27.746952181727984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sar!4v1754340864025!5m2!1ses!2sar"
            width="600"
            height="450"
            style="border:0;"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div> -->

    <div class="wrapper flex flex-col">
      <div
        class="grid grid-cols-2 items-stretch el-lugar-item opacity-0 translate-y-10"
      >
        <div>
          <img
            src="/lugar-1.jpg"
            alt="Padel 1"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex flex-col justify-center lugar-text-bg px-4">
          <h4 class="text-4xl font-normal">Ubicaci칩n</h4>
          <p class="mt-4 text-lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
            ducimus quo in quod hic itaque sapiente cupiditate laboriosam cum
            voluptas veritatis enim deleniti, unde veniam sit excepturi quaerat
            dignissimos totam.
          </p>
        </div>
      </div>

      <div
        class="grid grid-cols-2 items-stretch el-lugar-item opacity-0 translate-y-10"
      >
        <div class="flex flex-col justify-center lugar-text-bg px-4">
          <h4 class="text-4xl font-normal">Ubicaci칩n</h4>
          <p class="mt-4 text-lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
            ducimus quo in quod hic itaque sapiente cupiditate laboriosam cum
            voluptas veritatis enim deleniti, unde veniam sit excepturi quaerat
            dignissimos totam.
          </p>
        </div>
        <div class="">
          <img
            src="/lugar-1.jpg"
            alt="Padel 1"
            class="w-full h-full object-cover"
          />
        </div>
      </div>

      <div
        class="grid grid-cols-2 items-stretch el-lugar-item opacity-0 translate-y-10"
      >
        <div>
          <img
            src="/lugar-1.jpg"
            alt="Padel 1"
            class="w-full h-full object-cover"
          />
        </div>
        <div class="flex flex-col justify-center lugar-text-bg pl-4">
          <h4 class="text-4xl font-normal">Ubicaci칩n</h4>
          <p class="mt-4 text-lg">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit
            ducimus quo in quod hic itaque sapiente cupiditate laboriosam cum
            voluptas veritatis enim deleniti, unde veniam sit excepturi quaerat
            dignissimos totam.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  ScrollTrigger.batch(".el-lugar-item", {
    interval: 0.2, // tiempo entre cada lote
    batchMax: 3, // m치ximo de elementos por lote
    onEnter: (batch) =>
      gsap.to(batch, {
        opacity: 1,
        y: 0,
        scale: 1,
        duration: 0.8,
        stagger: 0.2,
        ease: "power2.out",
      }),
    once: true, // solo se anima una vez
  });
</script>
