---

---

<header class="fixed top-0 z-50 w-full hidden lg:block">
  <div
    class="w-full container flex justify-between items-center header-wrapper"
  >
    <div
      class="font-extrabold text-2xl montserrat flex flex-col items-center text-center text-white"
    >
      <span> SOMBRA </span>
      <span> PADEL </span>
    </div>
    <a href="#" class="link"> EL LUGAR </a>
    <a href="#" class="link"> NUESTRAS CANCHAS </a>
    <a href="#" class="link"> CLASES </a>
    <a href="#" class="link"> TORNEOS </a>
    <a href="#" class="link"> SOBRE NOSOTROS </a>
    <!-- <div class="aparecer flex gap-4">
      <button
        class="flex items-center justify-center gap-2 bg-white text-black px-4 py-2 rounded"
      >
        <span> Pedí tu turno </span>
      </button>

      <button
        class="flex items-center justify-center gap-2 bg-white text-black px-4 py-2 rounded"
      >
        <span> Pedí tu fijo </span>
      </button>
    </div> -->
  </div>
</header>
