---

---

<header
  class="fixed top-0 z-50 w-full translate-y-0 transition-transform duration-300 ease-in-out"
>
  <div
    class="w-full container flex justify-between items-center header-wrapper"
  >
    <div
      class="font-extrabold text-2xl montserrat flex flex-col items-center text-center text-white"
    >
      <span> SOMBRA </span>
      <span> PADEL </span>
    </div>
    <a href="#" class="link"> EL LUGAR </a>
    <a href="#" class="link"> NUESTRAS CANCHAS </a>
    <a href="#" class="link"> CLASES </a>
    <a href="#" class="link"> TORNEOS </a>
    <a href="#" class="link"> SOBRE NOSOTROS </a>
  </div>
</header>
