---
import SombraPadel from "./icons/SombraPadel.astro";
import Hamburger from "./icons/HamburgerIcon.astro";
import MobileMenu from "./MobileMenu.astro";
import CloseIcon from "./icons/CloseIcon.astro";
---

<header
  class="fixed top-0 z-50 w-full translate-y-0 transition-transform duration-300 ease-in-out px-8 py-4"
>
  <div class="w-full flex justify-between items-center">
    <div
      class="font-extrabold text-2xl montserrat text-center text-white hidden md:block"
    >
      <div class="flex flex-col items-center text-center">
        <span>SOMBRA</span>
        <span>PADEL</span>
      </div>
    </div>

    <div class="block md:hidden">
      <SombraPadel class="size-10" />
    </div>

    <nav class="gap-12 normal-case hidden md:flex" aria-label="Navegación principal">
      <a href="#lugar-key">El lugar</a>
      <a href="#canchas-key">Nuestras canchas</a>
      <a href="#clases-key">Clases</a>
      <a href="#torneos-key">Torneos</a>
      <a href="#nosotros-key">Sobre nosotros</a>
    </nav>

    <div class="block md:hidden">
      <button id="menu-toggle" aria-label="Abrir menú" aria-expanded="false" aria-controls="mobile-menu" class="open-menu">
        <Hamburger class="size-10 text-[#a0ae86] burger-icon" />
        <CloseIcon class="size-10 text-[#a0ae86] hidden close-icon" />
      </button>
    </div>
  </div>

  <!-- Menú móvil -->
  <MobileMenu isOpen={false} />
</header>

<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const menu = document.getElementById("mobile-menu");
    const toggleBtn = document.getElementById("menu-toggle");
    const burgerIcon = document.querySelector(".burger-icon");
    const closeIcon = document.querySelector(".close-icon");

    let isOpen = false;

    if (menu && toggleBtn) {
      toggleBtn.addEventListener("click", () => {
        isOpen = !isOpen;
        toggleBtn.setAttribute('aria-expanded', isOpen.toString());

        if (isOpen) {
          menu.classList.remove("translate-x-full");
          menu.classList.add("translate-x-0");
          burgerIcon.classList.add("hidden");
          closeIcon.classList.remove("hidden");
          document.body.classList.add("menu-open");
        } else {
          menu.classList.add("translate-x-full");
          menu.classList.remove("translate-x-0");
          burgerIcon.classList.remove("hidden");
          closeIcon.classList.add("hidden");
          document.body.classList.remove("menu-open");
        }

        document.body.style.overflow = isOpen ? "hidden" : "";
      });
    }
  });
</script>
