---

---

<header class="fixed top-0 z-50 w-full hidden lg:block">
  <div class="w-full wrapper flex justify-between items-center">
    <div
      class="font-extrabold text-2xl montserrat flex flex-col items-center text-center text-white"
    >
      <span> SOMBRA </span>
      <span> PADEL </span>
    </div>
    <a href="#"> EL LUGAR </a>
    <a href="#"> NUESTRAS CANCHAS </a>
    <a href="#"> CLASES </a>
    <a href="#"> TORNEOS </a>
    <a href="#"> SOBRE NOSOTROS </a>
  </div>
</header>
